<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Guilherme-contato </title>
        <link rel = "stylesheet" href = "/static/css/global.css">
    </head>
      <body>
        <div class = "class_banner"></div>
        <div class = "class_left_menu">
          <nav>
            <a href = "/home">Home</a><br>
            <a href = "/experiencia">Experiencia</a><br>
            <a href = "/skills">Skills</a><br>
            <a href="/sobre-mim"> Sobre Mim </a><br>
            <a href = "/contato"> Contato </a><br>
            
          </nav>
        </div>

        <div class = "class_main_body">
          <h1 class = "class_bigHeader"> Informações de contato </h1>
          <p>
            <strong>Telefone:</strong>(+55) 11 xxxx-xxxx<br>
            <strong>Email: </strong><a href="mailto:gui.mm.devtest@gmail.com">gui.mm.devtest@gmail.com</a><br>
          </p>
          <h2>Links Social media:</h2>
          <p>
              <a href="https://github.com/gmmarz" target="_blank">
                <img src ="/static/Imagens/GitHub_logo.png" alt="Meu Github" width="30" height="35">Meu Github
              </a><br>
              <a href="https://www.linkedin.com/in/guilhermemarzano" target="_blank">
                <img src="/static/Imagens/linkedIn_logo.png" alt="my linkedin" width ="30" height="35">Meu linkedIn
              </a><br>
              
          </p>
        </div>

      </body>
</html>