<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Curriculo </title>
        <link rel = "stylesheet" href = "/static/css/global.css">
    </head>
      <body>
        <div class = "class_banner">
           
        </div>
        <div class = "class_left_menu">
          <nav>
            <a href = "/home">Home</a><br>
            <a href = "/Skills">Skills</a><br>
            <a href="/sobre-mim"> Sobre Mim </a><br>
            <a href = "/contato"> Contato </a><br>
            
          </nav>
        </div>

        <div class = "class_main_body">
          <h1 class = "class_bigHeader"> Experiencia profissional </h1>
          <p>
            <h3>AVL South America</h3>
            <strong>Cargo:</strong>Engenheiro<br>
            <strong>Inicio:</strong> 01/junho/2008 <strong>Até: </strong>31/março/2023<br>
            <strong>Descrição:</strong><br>
            <p>
                Configuração e programação dos sistemas de automação<br>
                para salas de desenvolvimento de motores automobilísticos
            </p>
        </p>
        </div>

      </body>
</html>

