<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Curriculo </title>
        <link rel = "stylesheet" href = "/static/css/global.css">
    </head>
      <body>
        <div class = "class_banner">
           
        </div>
        <div class = "class_left_menu">
          <nav>
            <a href = "/home">Home</a><br>
            <a href = "/experiencia">Experiencia</a><br>
            <a href = "/skills">Skills</a><br>
            <a href="/sobre-mim"> Sobre Mim </a><br>
            <a href = "/contato"> Contato </a><br>
            
          </nav>
        </div>

        <div class = "class_main_body">
          <h1 class = "class_bigHeader"> Skills </h1>
          <p>
            <h2>Skills tecnicos</h2>
            <p>
                <dl>
                    <dt>Skills de visualização de dados</dt>
                    <dd>
                        <ol>
                            <li>Power BI</li>
                            <li>Tableau</li>
                        </ol>
                    </dd>
                    <dt>Skills de programação</dt>
                    <dd>
                        <ol>
                            <li>Visual Basic</li>
                            <li>C#</li>
                            <li>Python </li>
                            <li>Database SQL</li>
                        </ol>
                    </dd>
                </dl>
        </div>

      </body>
</html>