<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Curriculo </title>
        <link rel = "stylesheet" href = "/static/css/global.css">
    </head>
      <body>
        <div class = "class_banner">
           
        </div>
        <div class = "class_left_menu">
          <nav>
            <a href = "/home">Home</a><br>
            <a href = "/Skills">Skills</a><br>
            <a href = "/experiencia">Experiencia</a><br>
            <a href = "/contato"> Contato </a><br>
            
          </nav>
        </div>

        <div class = "class_main_body">
          <h1 class = "class_bigHeader"> Um pouco sobre: </h1>
          <p>
            <h2>Hobbies</h2>
            <ul>
              <li>Andar de patins com meu filho.</li>
              <li>Programar.</li>
              <li>Automatizar tarefas.</li>
            </ul>
          </p>
        </div>

      </body>
</html>
